<a href="https://colab.research.google.com/github/AnanyaGarg28/Newsletter-Signup/blob/master/Food.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


> Implementing the recommender system for the Food Recipe dataset obtained from Food.com under the open source license.
Happy recommending!

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [ ]:
# Storing the recipes information into a pandas DataFrame titled 'recipes'
recipes = pd.read_csv('recipes.csv', engine='python', error_bad_lines=False)

In [175]:
recipes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5082 entries, 0 to 5081
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   RecipeId                    5082 non-null   int64
 1   Name                        5082 non-null   object
 2   AuthorId                    5082 non-null   int64
 3   AuthorName                  5082 non-null   object
 4   CookTime                    2295 non-null   object
 5   PrepTime                    5082 non-null   object
 6   TotalTime                   5082 non-null   object
 7   DatePublished               5082 non-null   object
 8   Description                 5076 non-null   object
 9   Images                      5080 non-null   object
 10  RecipeCategory              5080 non-null   object
 11  Keywords                    4972 non-null   object
 12  RecipeIngredientQuantities  5080 non-null   object
 13  RecipeIngredientParts       5081 non-null   object
 14  AggregatedRating            3673 non-null   float64
 15  ReviewCount                 3744 non-null   float64
 16  Calories                    5081 non-null   float64
 17  FatContent                  5081 non-null   float64
 18  SaturatedFatContent         5081 non-null   float64
 19  CholesterolContent          5081 non-null   float64
 20  SodiumContent               5081 non-null   float64
 21  CarbohydrateContent         5081 non-null   float64
 22  FiberContent                5081 non-null   float64
 23  SugarContent                5081 non-null   float64
 24  ProteinContent              5081 non-null   float64
 25  RecipeServings              3662 non-null   float64
 26  RecipeYield                 1524 non-null   object
 27  RecipeInstructions          5081 non-null   object
dtypes: float64(12), int64(2), object(14)
memory usage: 1.1+ MB

In [ ]:
# Storing the reviews information into a pandas DataFrame titled 'reviews'
reviews = pd.read_csv('reviews.csv', engine='python', error_bad_lines=False)

In [176]:
# Checking the column labels in recipes
recipes.columns

Index(['RecipeId', 'Name', 'AuthorId', 'AuthorName', 'CookTime', 'PrepTime',
       'TotalTime', 'DatePublished', 'Description', 'Images', 'RecipeCategory',
       'Keywords', 'RecipeIngredientQuantities', 'RecipeIngredientParts',
       'AggregatedRating', 'ReviewCount', 'Calories', 'FatContent',
       'SaturatedFatContent', 'CholesterolContent', 'SodiumContent',
       'CarbohydrateContent', 'FiberContent', 'SugarContent', 'ProteinContent',
       'RecipeServings', 'RecipeYield', 'RecipeInstructions'],
      dtype='object')

In [179]:
# Printing a summary of the data in recipes data
# .describe() gives the statistics of the numerical data 
recipes.describe()

,RecipeId,AuthorId,AggregatedRating,ReviewCount,Calories,FatContent,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent,RecipeServings
count,5082.000000,5082.000000,3673.000000,3744.000000,5081.000000,5081.000000,5081.000000,5081.000000,5081.000000,5081.000000,5081.000000,5081.000000,5081.000000,3662.000000
mean,4189.896301,28042.254427,4.480942,9.718750,767.502342,38.318658,15.406672,131.958925,1075.100866,84.459162,5.410333,45.516198,23.255481,7.909066
std,2325.943792,48535.088648,0.734993,47.358747,1353.402656,81.091456,35.127210,300.127689,5606.761560,198.291245,11.789561,157.323184,46.631400,12.641861
min,38.000000,27.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2707.250000,1539.000000,4.000000,1.000000,180.700000,5.600000,1.600000,6.100000,136.400000,13.400000,0.800000,2.600000,3.600000,4.000000
50%,4105.500000,1737.000000,5.000000,3.000000,353.400000,14.900000,5.500000,50.300000,369.800000,31.500000,2.100000,8.700000,8.900000,6.000000
75%,6573.750000,37036.000000,5.000000,7.000000,690.800000,34.300000,13.800000,126.900000,906.800000,64.400000,4.900000,28.200000,26.400000,8.000000
max,8003.000000,451242.000000,5.000000,2273.000000,25248.700000,2128.500000,714.200000,7517.100000,349356.400000,5030.700000,301.300000,4570.900000,1122.600000,480.000000

On having a closer look at the column labels, we find that the columns with 'CookTime', 'PrepTime', and 'TotalTime' do not show up in the describe result. Let's try having an overview of the data(not just numerical).

In [178]:
# 1st Recipe's Data
recipes.loc[0]

RecipeId                                                                     38
Name                                          Low-Fat Berry Blue Frozen Dessert
AuthorId                                                                   1533
AuthorName                                                               Dancer
CookTime                                                                  PT24H
PrepTime                                                                  PT45M
TotalTime                                                              PT24H45M
DatePublished                                              1999-08-09T21:46:00Z
Description                   Make and share this Low-Fat Berry Blue Frozen ...
Images                        c("https://img.sndimg.com/food/image/upload/w_...
RecipeCategory                                                  Frozen Desserts
Keywords                      c("Dessert", "Low Protein", "Low Cholesterol",...
RecipeIngredientQuantities                              c("4", "1/4", "1", "1")
RecipeIngredientParts         c("blueberries", "granulated sugar", "vanilla ...
AggregatedRating                                                            4.5
ReviewCount                                                                 4.0
Calories                                                                  170.9
FatContent                                                                  2.5
SaturatedFatContent                                                         1.3
CholesterolContent                                                          8.0
SodiumContent                                                              29.8
CarbohydrateContent                                                        37.1
FiberContent                                                                3.6
SugarContent                                                               30.2
ProteinContent                                                              3.2
RecipeServings                                                              4.0
RecipeYield                                                                 NaN
RecipeInstructions            c("Toss 2 cups berries with sugar.", "Let stan...
Name: 0, dtype: object

The columns with labels - 'CookTime', 'PrepTime', 'TotalTime', 'Images', 'RecipeInstructions', etc. We need to parse the csv file into R to have the data look better. Parsing the recipe.csv file into R:

In [ ]:
# precipes = pd.read_parquet('recipes.parquet').to_csv('parsedrecipes.csv')

In [ ]:
# import pyarrow.parquet as pq
# parquet_file = pq.ParquetFile('recipes.parquet')

The parquet file seems to have an error. Nevertheless, we can omit such datavalues for the time being and proceed with other things. The time values are given in ISO 8601 duration format. To read them in R,

> library(lubridate)
  duration("PT24H45M")
######"89100s (~1.03 days)"

Similary, for the values, the following library can be used to parse the data in R,

> library(readr) recipes <- read_csv("recipes.csv")

In [ ]:
# We can still make sense out of this data here. It just needs some formatting. 
recipes.loc[0].RecipeInstructions

'c("Toss 2 cups berries with sugar.", "Let stand for 45 minutes, stirring occasionally.", "Transfer berry-sugar mixture to food processor.", "Add yogurt and process until smooth.", "Strain through fine sieve. Pour into baking pan (or transfer to ice cream maker and process according to manufacturers\' directions). Freeze uncovered until edges are solid but centre is soft.  Transfer to processor and blend until smooth again.", "Return to pan and freeze until edges are solid.", "Transfer to processor and blend until smooth again.", \n"Fold in remaining 2 cups of blueberries.", "Pour into plastic mold and freeze overnight. Let soften slightly to serve.")'

In [ ]:
# But before diving into Data Pre-processing, we can make sure that we get rid of the data we do not need. So, let's filter it out.
# Checking columns in recipes DataFrame
recipes.columns

Index(['RecipeId', 'Name', 'AuthorId', 'AuthorName', 'CookTime', 'PrepTime',
       'TotalTime', 'DatePublished', 'Description', 'Images', 'RecipeCategory',
       'Keywords', 'RecipeIngredientQuantities', 'RecipeIngredientParts',
       'AggregatedRating', 'ReviewCount', 'Calories', 'FatContent',
       'SaturatedFatContent', 'CholesterolContent', 'SodiumContent',
       'CarbohydrateContent', 'FiberContent', 'SugarContent', 'ProteinContent',
       'RecipeServings', 'RecipeYield', 'RecipeInstructions'],
      dtype='object')

In [ ]:
# Getting rid of the nutritional information for the basic recommendation model initially. We can take it into account a little later when our model is ready.
recipes = recipes[['RecipeId', 'Name', 'AuthorId', 'AuthorName', 
                   'CookTime', 'PrepTime', 'Description', 'Images', 
                   'RecipeCategory', 'Keywords', 'RecipeIngredientQuantities', 'RecipeIngredientParts', 
                   'AggregatedRating', 'ReviewCount', 'RecipeServings', 'RecipeInstructions']]

In [ ]:
recipes.shape

(522517, 16)

In [ ]:
recipes.loc[0]

RecipeId                                                                     38
Name                                          Low-Fat Berry Blue Frozen Dessert
AuthorId                                                                   1533
AuthorName                                                               Dancer
CookTime                                                                  PT24H
PrepTime                                                                  PT45M
Description                   Make and share this Low-Fat Berry Blue Frozen ...
Images                        c("https://img.sndimg.com/food/image/upload/w_...
RecipeCategory                                                  Frozen Desserts
Keywords                      c("Dessert", "Low Protein", "Low Cholesterol",...
RecipeIngredientQuantities                              c("4", "1/4", "1", "1")
RecipeIngredientParts         c("blueberries", "granulated sugar", "vanilla ...
AggregatedRating                                                            4.5
ReviewCount                                                                 4.0
RecipeServings                                                              4.0
RecipeInstructions            c("Toss 2 cups berries with sugar.", "Let stan...
Name: 0, dtype: object

In [ ]:
recipes.loc[0]['RecipeIngredientParts']

'c("blueberries", "granulated sugar", "vanilla yogurt", "lemon juice")'

In [ ]:
# RecipeIngredientQuantities are as many as the RecipeIngredientParts with each ingredient's quantity described with respect to the 1st Ingredient mentioned and is in ratio-part formatting
# For ex, if we take 400 gms of blueberries, then granulated sugar should be 1/16th of 400gms which is 25gms
# And vanilla yogurt and lemon juice should be 1/4th of 400gms which is 100gms each.
recipes.loc[0]['RecipeIngredientQuantities']

'c("4", "1/4", "1", "1")'

In [ ]:
# Now that our recipes DataFrame is filtered, checking the column labels in reviews
reviews.columns

Index(['ReviewId', 'RecipeId', 'AuthorId', 'AuthorName', 'Rating', 'Review',
       'DateSubmitted', 'DateModified'],
      dtype='object')

In [ ]:
# Printing a summary of the data in reviews data
# .describe() gives the statistics of the numerical data 
reviews.describe()

           ReviewId      RecipeId      AuthorId        Rating
count  1.401982e+06  1.401982e+06  1.401982e+06  1.401982e+06
mean   8.179739e+05  1.526412e+05  1.558638e+08  4.407951e+00
std    5.280821e+05  1.301112e+05  5.305111e+08  1.272012e+00
min    2.000000e+00  3.800000e+01  1.533000e+03  0.000000e+00
25%    3.743862e+05  4.703875e+04  1.336800e+05  4.000000e+00
50%    7.717805e+05  1.093270e+05  3.305450e+05  5.000000e+00
75%    1.204126e+06  2.318768e+05  8.183590e+05  5.000000e+00
max    2.090347e+06  5.412980e+05  2.002902e+09  5.000000e+00

The **count** shows how many rows have **non-missing values**. As all the columns have equal number of non-missing values, it shows that the data is consistent :)

In [ ]:
# Let's take a look at the overview of the reviews DataFrame
reviews.head()

,ReviewId,RecipeId,AuthorId,AuthorName,Rating,Review,DateSubmitted,DateModified
0,2,992,2008,gayg msft,5,better than any you can get at a restaurant!,2000-01-25T21:44:00Z,2000-01-25T21:44:00Z
1,7,4384,1634,Bill Hilbrich,4,"I cut back on the mayo, and made up the differ...",2001-10-17T16:49:59Z,2001-10-17T16:49:59Z
2,9,4523,2046,Gay Gilmore ckpt,2,i think i did something wrong because i could ...,2000-02-25T09:00:00Z,2000-02-25T09:00:00Z
3,13,7435,1773,Malarkey Test,5,easily the best i have ever had. juicy flavor...,2000-03-13T21:15:00Z,2000-03-13T21:15:00Z
4,14,44,2085,Tony Small,5,An excellent dish.,2000-03-28T12:51:00Z,2000-03-28T12:51:00Z

Here, we have the first 5 rows from the reviews DataFrame. The 'date' format can be modified and could be truncated for the initial model. But as we delve into complex models, we can take it into account.

In [ ]:
# Truncating the DateSubmitted and DateModified columns
reviews=reviews[['ReviewId','RecipeId','AuthorId','AuthorName','Rating','Review']]

In [ ]:
reviews.head()

,ReviewId,RecipeId,AuthorId,AuthorName,Rating,Review
0,2,992,2008,gayg msft,5,better than any you can get at a restaurant!
1,7,4384,1634,Bill Hilbrich,4,"I cut back on the mayo, and made up the differ..."
2,9,4523,2046,Gay Gilmore ckpt,2,i think i did something wrong because i could ...
3,13,7435,1773,Malarkey Test,5,easily the best i have ever had. juicy flavor...
4,14,44,2085,Tony Small,5,An excellent dish.

In [ ]:
# Now, filtering is done. Let's have a look at both the filtered DataFrames
recipes.head(2)

,RecipeId,Name,AuthorId,AuthorName,CookTime,PrepTime,Description,Images,RecipeCategory,Keywords,RecipeIngredientQuantities,RecipeIngredientParts,AggregatedRating,ReviewCount,RecipeServings,RecipeInstructions
0,38,Low-Fat Berry Blue Frozen Dessert,1533,Dancer,PT24H,PT45M,Make and share this Low-Fat Berry Blue Frozen ...,"c(""https://img.sndimg.com/food/image/upload/w_...",Frozen Desserts,"c(""Dessert"", ""Low Protein"", ""Low Cholesterol"",...","c(""4"", ""1/4"", ""1"", ""1"")","c(""blueberries"", ""granulated sugar"", ""vanilla ...",4.5,4.0,4.0,"c(""Toss 2 cups berries with sugar."", ""Let stan..."
1,39,Biryani,1567,elly9812,PT25M,PT4H,Make and share this Biryani recipe from Food.com.,"c(""https://img.sndimg.com/food/image/upload/w_...",Chicken Breast,"c(""Chicken Thigh & Leg"", ""Chicken"", ""Poultry"",...","c(""1"", ""4"", ""2"", ""2"", ""8"", ""1/4"", ""8"", ""1/2"", ...","c(""saffron"", ""milk"", ""hot green chili peppers""...",3.0,1.0,6.0,"c(""Soak saffron in warm milk for 5 minutes and..."

In [ ]:
reviews.head(2)

,ReviewId,RecipeId,AuthorId,AuthorName,Rating,Review
0,2,992,2008,gayg msft,5,better than any you can get at a restaurant!
1,7,4384,1634,Bill Hilbrich,4,"I cut back on the mayo, and made up the differ..."

All set. Time for some Data Pre-processing!

In [ ]:
# Check for null elements
recipes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522517 entries, 0 to 522516
Data columns (total 28 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   RecipeId                    522517 non-null  int64
 1   Name                        522517 non-null  object
 2   AuthorId                    522517 non-null  int64
 3   AuthorName                  522517 non-null  object
 4   CookTime                    439972 non-null  object
 5   PrepTime                    522517 non-null  object
 6   TotalTime                   522517 non-null  object
 7   DatePublished               522517 non-null  object
 8   Description                 522512 non-null  object
 9   Images                      522516 non-null  object
 10  RecipeCategory              521766 non-null  object
 11  Keywords                    505280 non-null  object
 12  RecipeIngredientQuantities  522514 non-null  object
 13  RecipeIngredientParts       522517 non-null  object
 14  AggregatedRating            269294 non-null  float64
 15  ReviewCount                 275028 non-null  float64
 16  Calories                    522517 non-null  float64
 17  FatContent                  522517 non-null  float64
 18  SaturatedFatContent         522517 non-null  float64
 19  CholesterolContent          522517 non-null  float64
 20  SodiumContent               522517 non-null  float64
 21  CarbohydrateContent         522517 non-null  float64
 22  FiberContent                522517 non-null  float64
 23  SugarContent                522517 non-null  float64
 24  ProteinContent              522517 non-null  float64
 25  RecipeServings              339606 non-null  float64
 26  RecipeYield                 174446 non-null  object
 27  RecipeInstructions          522517 non-null  object
dtypes: float64(12), int64(2), object(14)
memory usage: 111.6+ MB

In [ ]:
recipes.RecipeId.min()

38

In [ ]:
recipes.RecipeId.max()
# 541383

541383

In [ ]:
recipes.AuthorId.min()

27

In [ ]:
recipes.AuthorId.max()
# 2001112113, 27

2001112113

Seeing the Memory usage for the recipes DataFrame, I think that there's a need of optimizing the memory. For RecipeId, we have the min and max value of 38 and 181170 respectively. And the datatype is int64, hence, memory is too much for the data available. So, we can cut it down to int32 as then too, our data would fit sufficiently in the range (-2,147,483,648 to +2,147,483,647). Not doing so for the AuthorId column as it is still a borderline case.

In [ ]:
# Changing the datatype of RecipeId from int64 to int32
recipes[['RecipeId']] = recipes[['RecipeId']].apply(pd.to_numeric, downcast = 'integer')

In [ ]:
recipes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522517 entries, 0 to 522516
Data columns (total 16 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   RecipeId                    522517 non-null  int32
 1   Name                        522517 non-null  object
 2   AuthorId                    522517 non-null  int64
 3   AuthorName                  522517 non-null  object
 4   CookTime                    439972 non-null  object
 5   PrepTime                    522517 non-null  object
 6   Description                 522512 non-null  object
 7   Images                      522516 non-null  object
 8   RecipeCategory              521766 non-null  object
 9   Keywords                    505280 non-null  object
 10  RecipeIngredientQuantities  522514 non-null  object
 11  RecipeIngredientParts       522517 non-null  object
 12  AggregatedRating            269294 non-null  float64
 13  ReviewCount                 275028 non-null  float64
 14  RecipeServings              339606 non-null  float64
 15  RecipeInstructions          522517 non-null  object
dtypes: float64(3), int32(1), int64(1), object(11)
memory usage: 61.8+ MB

In [174]:
recipes['AggregatedRating'].value_counts()

5.0    1910
4.0     685
4.5     668
3.0     205
3.5     108
2.0      43
1.0      33
2.5      19
1.5       2
Name: AggregatedRating, dtype: int64

In [167]:
recipes['ReviewCount'].value_counts()

1.0      1040
2.0       654
3.0       408
4.0       298
5.0       211
         ...
151.0       1
203.0       1
107.0       1
139.0       1
174.0       1
Name: ReviewCount, Length: 119, dtype: int64

In [ ]:
recipes['RecipeServings'].value_counts()

In [170]:
recipes['RecipeServings'].min()

1.0

In [171]:
recipes['RecipeServings'].max()

480.0

In [173]:
# Columns that can be downcasted
# RecipeServings
# ReviewCount
# AggregatedRating